h1,p,body {
     margin: 0pt;
}

p,a {
font-size: 20px;
}

header {
    background-color:  rgb(244, 79, 79);
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
   
}

h1 {
    color: rgb(255, 255, 255);
}

main {
    padding: 10px;
}
#parent {
    display: flex;
    justify-content: space-around;
}
.contents {
    flex-basis: 25%;
    border: solid 3px rgb(238, 204, 204);
    padding: 10px 15px;
    margin: 20px 0px;
    text-align: center;
}

h2 {
    font-size: 25px;
    border-bottomurl(https://terakoya.sejuku.net/programs/51/chapters/584): 3px dotted rgb(236, 122, 122);
}

h2::before {
    content: "●";
    color: rgb(239, 111, 139);
}

.contents p:nth-of-type(2)::first-letter {
    color: rgb(97, 206, 249);
    font-weight: bold; /
}

img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
    width: 70;
}

footer {
    background-color: rgb(244, 79, 79);
    display: flex;
    justify-content: center;
}

a {
    color: rgb(255, 255, 255);
    
}

a:visited {
    color: rgb(193, 234, 251);
}

a:hover {
    color: rgb(245, 178, 168);
}

@media screen and (max-width: 768px) {
    h2 {
        font-size: 30px;
    }

    p {
        font-size: 25px;

    }

    #parent {
        display: flex;
         flex-direction: column;
    }
}